<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading-section">
                <h2>Latest blog posts</h2>
                <img src="{{ 'assets/images/under-heading.png'|theme }}" alt="" >
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="blog-post">
                <div class="blog-thumb">
                    <img src="{{ 'assets/images/blogpost1.jpg'|theme }}" alt="" />
                </div>
                <div class="blog-content">
                    <div class="content-show">
                        <h4><a href="{{ 'samples/single-post'|page }}">Summer Sandwich</a></h4>
                        <span>29 Sep 2084</span>
                    </div>
                    <div class="content-hide">
                        <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="blog-post">
                <div class="blog-thumb">
                    <img src="{{ 'assets/images/blogpost2.jpg'|theme }}" alt="" />
                </div>
                <div class="blog-content">
                    <div class="content-show">
                        <h4><a href="{{ 'samples/single-post'|page }}">New Great Taste</a></h4>
                        <span>23 Sep 2084</span>
                    </div>
                    <div class="content-hide">
                        <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="blog-post">
                <div class="blog-thumb">
                    <img src="{{ 'assets/images/blogpost3.jpg'|theme }}" alt="" />
                </div>
                <div class="blog-content">
                    <div class="content-show">
                        <h4><a href="{{ 'samples/single-post'|page }}">Spicy Pizza</a></h4>
                        <span>14 Sep 2084</span>
                    </div>
                    <div class="content-hide">
                        <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="blog-post">
                <div class="blog-thumb">
                    <img src="{{ 'assets/images/blogpost4.jpg'|theme }}" alt="" />
                </div>
                <div class="blog-content">
                    <div class="content-show">
                        <h4><a href="{{ 'samples/single-post'|page }}">Healthy Food</a></h4>
                        <span>25 Aug 2084</span>
                    </div>
                    <div class="content-hide">
                        <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="blog-post">
                <div class="blog-thumb">
                    <img src="{{ 'assets/images/blogpost5.jpg'|theme }}" alt="" />
                </div>
                <div class="blog-content">
                    <div class="content-show">
                        <h4><a href="{{ 'samples/single-post'|page }}">Great Breakfast</a></h4>
                        <span>17 Aug 2084</span>
                    </div>
                    <div class="content-hide">
                        <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="blog-post">
                <div class="blog-thumb">
                    <img src="{{ 'assets/images/blogpost6.jpg'|theme }}" alt="" />
                </div>
                <div class="blog-content">
                    <div class="content-show">
                        <h4><a href="{{ 'samples/single-post'|page }}">Fresh Fruit Juice</a></h4>
                        <span>12 Aug 2084</span>
                    </div>
                    <div class="content-hide">
                        <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>