<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading-section">
                <h2>Free Website Templates</h2>
                <img src="{{ 'assets/images/under-heading.png'|theme }}" alt="" >
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="service-item">
                <div class="icon">
                    <i class="fa fa-pencil"></i>
                </div>
                    <h4>Make an order</h4>
                    <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu  sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.</p>
                </div>
            </div>
        <div class="col-md-3 col-sm-6">
            <div class="service-item">
                <div class="icon">
                    <i class="fa fa-bullhorn"></i>
                </div>
                <h4>Promotions</h4>
                <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu  sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.</p>
            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <div class="icon">
                                    <i class="fa fa-bell"></i>
        </div>
            <h4>Ready to Serve</h4>
            <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu  sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="service-item">
            <div class="icon">
                <i class="fa fa-heart"></i>
            </div>
                <h4>Satisfaction</h4>
                <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu  sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.</p>
            </div>
        </div>
    </div>
</div>