<div class="top-footer">
    <div class="row">
        <div class="col-md-9">
            <div class="subscribe-form">
                <span>Get in touch with us</span>
                    <form role="form" method="get" class="subscribeForm">
                        <input id="subscribe" type="text" />
                        <input type="submit" id="submitButton" />
                    </form>
            </div>
        </div>
        <div class="col-md-3">
            <div class="social-bottom">
                <span>Follow us:</span>
                    <ul>
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-rss"></a></li>
                    </ul>
            </div>
        </div>
    </div>
</div>
