    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="testimonails-slider">
                <ul class="slides">
                    <li>
                        <div class="testimonails-content">
                            <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                            <h6>Jennifer - <a href="#">Chief Designer</a></h6>
                        </div>
                    </li>
                    <li>
                        <div class="testimonails-content">
                            <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                            <h6>Laureen - <a href="#">Marketing Executive</a></h6>
                        </div> 
                    </li>
                    <li>
                        <div class="testimonails-content">
                            <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                            <h6>Tanya - <a href="#">Creative Director</a></h6>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

            