                                <div class="comments-title">
                                    <div class="comment-section">
                                        <h4>4 comments</h4>
                                    </div>
                                </div>
                                <div class="all-comments">
                                    <div class="view-comments">
                                        <div class="comments">
                                            <div class="author-thumb">
                                                <img src="{{ 'assets/images/author-comment1.jpg'|theme }}" alt="">
                                            </div>
                                            <div class="comment-body">
												<h6>Catherine Hla</h6>
                                                <span class="date">11 Sep 2084 - 12:30 PM</span>
                                                <a href="#" class="hidden-xs">Reply</a>
                                                <p>Ut vel consequat urna. Ut aliquet ornare massa, quis dapibus quam condimentum id. Duis eget sagittis nisl, at mollis massa. Suspendisse ut sagittis justo.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="replyed-form">
                                        <div class="comments replyed">
                                            <div class="author-thumb">
                                                <img src="{{ 'assets/images/author-comment2.jpg'|theme }}" alt="">
                                            </div>
                                            <div class="comment-body">
                                                <h6>Anna Thiri</h6>
                                                <span class="date">12 Sep 2084 - 10:10 AM</span>
                                                <a href="#" class="hidden-xs">Reply</a>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquet pellentesque magna. Morbi non varius massa. Vivamus tortor sapien, dignissim quis iaculis non, pretium vel odio.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="view-comments">
                                        <div class="comments">
                                            <div class="author-thumb">
                                                <img src="{{ 'assets/images/author-comment3.jpg'|theme }}" alt="">
                                            </div>
                                            <div class="comment-body">
                                                <h6>Diana Aung</h6>
                                                <span class="date">12 Sep 2084 - 11:00 AM</span>
                                                <a href="#" class="hidden-xs">Reply</a>
                                                <p>Vestibulum molestie odio sit amet malesuada tincidunt. Donec sollicitudin diam ut tellus bibendum ullamcorper. Fusce vel porttitor libero.</p>
                                             </div>
                                        </div>
                                    </div>
                                    <div class="view-comments">
                                        <div class="comments">
                                            <div class="author-thumb">
                                                <img src="{{ 'assets/images/author-comment4.jpg'|theme }}" alt="">
                                            </div>
                                            <div class="comment-body">
                                                <h6>Kimberly Mya</h6>
                                                <span class="date">14 Sep 2084 - 09:30 PM</span>
                                                <a href="#" class="hidden-xs">Reply</a>
                                                <p>Nullam non lorem sed tellus vulputate pulvinar ac quis velit. Ut sit amet turpis feugiat sem molestie lacinia.</p>
                                             </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="divide-line">
                                    <img src="{{ 'assets/images/div-line.png'|theme }}" alt="" />
                                </div>
                                <div class="leave-comment">
                                    <div class="leave-one">
                                        <h4>Leave a comment</h4>
                                    </div>
                                </div>
                                <div class="leave-form">
                                    <form role="form" action="#" method="post" class="leave-comment">
                                        <div class="row">
                                        <div class="name col-md-4">
                                            <input type="text" name="name" id="name" placeholder="Name" />
                                        </div>
                                        <div class="email col-md-4">
                                            <input type="text" name="email" id="email" placeholder="Email" />
                                        </div>
                                        <div class="subject col-md-4">
                                            <input type="text" name="subject" id="subject" placeholder="Subject" />
                                        </div>
										</div>
										<div class="row">        
                                        <div class="text col-md-12">
                                            <textarea name="text" placeholder="Comment"></textarea>
                                        </div>   
										</div>                              
										<div class="send">
											<button type="submit">Send</button>
										</div>
                                    </form>
                                </div>
