                            <div class="col-md-3 col-md-offset-1">
                                <div class="side-bar">
                                    <div class="news-letters">
                                        <h4>Archives</h4>
                                        <div class="archives-list">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-angle-right"></i>July (12)</a></li>
                                                <li><a href="#"><i class="fa fa-angle-right"></i>August (18)</a></li>
                                                <li><a href="#"><i class="fa fa-angle-right"></i>September (72)</a></li>
                                                <li><a href="#"><i class="fa fa-angle-right"></i>October (63)</a></li>
                                                <li><a href="#"><i class="fa fa-angle-right"></i>November (48))</a></li>
                                                <li><a href="#"><i class="fa fa-angle-right"></i>December (24)</a></li>
                                            </ul>
                                        </div>        
                                    </div>
                                    <div class="recent-post">
                                        <h4>Recent Posts</h4>
                                            <div class="posts">
                                                <div class="recent-post">
                                                    <div class="recent-post-thumb">
                                                         <img src="{{ 'assets/images/recent-post1.jpg'|theme }}" alt="">
                                                    </div>
                                                    <div class="recent-post-info">
                                                        <h6><a href="#">Vestibulum molestie odio sit amet</a></h6>
                                                        <span>24 Sep 2084</span>
                                                    </div>
                                                </div>
                                                <div class="recent-post">
                                                <div class="recent-post-thumb">
                                                     <img src="{{ 'assets/images/recent-post2.jpg'|theme }}" alt="">
                                                </div>
                                                <div class="recent-post-info">
                                                    <h6><a href="#">Vivamus mattis quam eget urna tincidunt</a></h6>
                                                    <span>22 Sep 2084</span>
                                                </div>
                                            </div> 
                                            <div class="recent-post">
                                                <div class="recent-post-thumb">
                                                    <img src="{{ 'assets/images/recent-post3.jpg'|theme }}" alt="">
                                                </div>
                                                <div class="recent-post-info">
                                                    <h6><a href="#">Curabitur in nunc eget neque posuere</a></h6>
                                                    <span>21 Sep 2084</span>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="advertisement">
                                        <h4>Flickr news</h4>
                                            <div class="flickr-images">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-2 col-xs-3">
                                                        <img src="{{ 'assets/images/flickr-image1.jpg'|theme }}" alt="">
                                                    </div>
                                                    <div class="col-md-4 col-sm-2 col-xs-3">
                                                        <img src="{{ 'assets/images/flickr-image2.jpg'|theme }}" alt="">
                                                    </div>
                                                    <div class="col-md-4 col-sm-2 col-xs-3">
                                                        <img src="{{ 'assets/images/flickr-image3.jpg'|theme }}" alt="">
                                                    </div>
                                                    <div class="col-md-4 col-sm-2 col-xs-3">
                                                        <img src="{{ 'assets/images/flickr-image4.jpg'|theme }}" alt="">
                                                    </div>
                                                    <div class="col-md-4 col-sm-2 col-xs-3">
                                                        <img src="{{ 'assets/images/flickr-image1.jpg'|theme }}" alt="">
                                                    </div>
                                                    <div class="col-md-4 col-sm-2 col-xs-3">
                                                        <img src="{{ 'assets/images/flickr-image2.jpg'|theme }}" alt="">
                                                    </div>
                                                    <div class="col-md-4 col-sm-2 col-xs-3">
                                                        <img src="{{ 'assets/images/flickr-image3.jpg'|theme }}" alt="">
                                                    </div>
                                                    <div class="col-md-4 col-sm-2 col-xs-3">
                                                        <img src="{{ 'assets/images/flickr-image4.jpg'|theme }}" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                            </div>     
