    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>Our Team</h2>
                    <img src="{{ 'assets/images/under-heading.png'|theme }}" alt="" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="authors">
                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="author">
                            <img src="{{ 'assets/images/author1.jpg'|theme }}" alt="Tracy - templatemo">
                        </div>
                        <div class="overlay">
                            <div class="author-caption">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="author-details">
                        <h2>Tracy</h2>
                        <span>Designer</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="author">
                            <img src="{{ 'assets/images/author2.jpg'|theme }}" alt="Mary - templatemo">
                        </div>
                        <div class="overlay">
                            <div class="author-caption">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="author-details">
                        <h2>Mary</h2>
                        <span>Developer</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="author">
                            <img src="{{ 'assets/images/author3.jpg'|theme }}" alt="Julia - templatemo">
                        </div>
                        <div class="overlay">
                            <div class="author-caption">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="author-details">
                        <h2>Julia</h2>
                        <span>Director</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="author">
                            <img src="{{ 'assets/images/author4.jpg'|theme }}" alt="Linda - templatemo">
                        </div>
                        <div class="overlay">
                            <div class="author-caption">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="author-details">
                        <h2>Linda</h2>
                        <span>Manager</span>
                    </div>
                </div>
            </div>
        </div>
    </div>